body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background: url('https://image.springnews.co.th/uploads/images/md/2021/11/uvpcPmBybbZj7kFjtJer.jpg') no-repeat center center/cover;
  overflow: hidden;
  height: 100vh;
  color: white;
  text-align: center;
}

.container {
  position: absolute;
  top: 15%;
  width: 100%;
}

.form-box {
  margin-top: 20px;
}

input, textarea {
  width: 60%;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 30px;
  border: none;
  background: #ff82b2;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}
button:hover {
  background: #ff4c94;
}

.river {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.krathong {
  position: absolute;
  bottom: 0;
  width: 120px;
  transition: transform 20s linear, bottom 20s ease-in-out;
}

.hidden {
  display: none;
}
